@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&display=swap');
body{
    font-family: 'Comfortaa', sans-serif;
}
.conteiner{
    text-align: center;
    width: 100%;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.pinimg.com/736x/ce/60/8f/ce608fac3b10bb485d70c6e832de7d05.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a{
    display: inline-block;
    padding: 10px;
    background-color:rgb(108, 108, 210) ;
    border-radius: 13px;
    text-decoration: none;
    color: black;
}

p{
    max-width: 700px;
    padding: 7px;
}

.second{
    background-image: url(https://t4.ftcdn.net/jpg/03/41/83/77/360_F_341837771_fXihh3dLyus28uE84XcqhqcN5Hh5uv8Q.jpg);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    padding-top: 30px;

    
}

.item{
    display:flex;
    max-width: 320px;
    background-color: rgb(222, 219, 216);
    flex-direction: column;
    align-items:center ;
    border-radius: 10px;
    padding-bottom: 10px;
}

.img{
    width: 90%;
    height: 200px;
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: 8px;
    
}

.img-first{
    background-image:url(https://m.media-amazon.com/images/I/41YdV7aDyQL._AC_UF1000,1000_QL80_.jpg) ;
}

.img-second{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/PS2-Fat-Console-Set.jpg/1200px-PS2-Fat-Console-Set.jpg);
}

.img-third{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/d/d3/Sony-PlayStation-3-2001A-wController-L.jpg);
}

.img-fourth{
    background-image:url(https://hotline.ua/img/tx/110/1101287005.jpg);
}
.img-fifth{
    background-image:url(https://newtime.ua/source/blog/11-10-2023/console-ps-5-new-version-04.jpg?1697027900038);
}